<section class="footer">
    <div class="footer-head">
        <a href="#"><img src="/images/digita-logo.png" alt="Digita Global Logo"></a>
        <div class="head-social-links">
            <a href="https://www.facebook.com/itsdigita/" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
            <a href="https://twitter.com/itsdigita" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/itsdigita/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/digita-global-marketing-ltd./" target="_blank"><i class="fa-brands fa-linkedin" target="_blank"></i></a>
        </div>
    </div>
    <div class="footer-body">
        <div class="company-footer">
            <h6>Company</h6>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="legal-footer">
            <h6>Legal</h6>
            <ul style="grid-template-columns:1fr">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="other-footer">
            <h6>Other</h6>
            <ul style="grid-template-columns:1fr">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Specials</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright-claim">
        <p>2022 Digita Global LTD | All Rights Reserved | <strong>Concept By Malik Coleman </strong></p>
    </div>
</section>