<nav class="nav_one">
    <a href="/"><img src="/images/digita-logo.png" alt="Digita Global Logo"></a>
    <div class="nav-right">
        <div class="head-social-links xxs">
            <a href="https://www.facebook.com/itsdigita/" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
            <a href="https://twitter.com/itsdigita" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/itsdigita/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/digita-global-marketing-ltd./" target="_blank"><i class="fa-brands fa-linkedin" target="_blank"></i></a>
        </div>
        <div class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="nav-menu">
        <i class="fa-solid fa-xmark" id="closeMenu"></i>
        <ul class="vertical-nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="#" id="who-we-are">Who We Are&nbsp;&nbsp;<i class="fa-solid fa-chevron-right" style="font-size:1.4rem"></i></a>
                <ul class="vertical-sub-menu" id="who-we-are-sub">
                    <i class="fa-solid fa-chevron-left closeSubMenu" style="position:absolute;top:20px;left:20px;color:#fff;font-size:2.1rem;cursor:pointer"></i>
                    <li><a href="#">Our Beliefs</a></li>
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">#TeamDigita</a></li>
                    <li><a href="#">Our Clients</a></li>
                </ul>
            </li>
            <li><a href="#" id="services">Services&nbsp;&nbsp;<i class="fa-solid fa-chevron-right" style="font-size:1.4rem"></i></a>
                <ul class="vertical-sub-menu" id="services-sub">
                    <i class="fa-solid fa-chevron-left closeSubMenu" style="position:absolute;top:20px;left:20px;color:#fff;font-size:2.1rem;cursor:pointer"></i>
                    <div class="double-sub-menu">
                        <div class="sub__menu">
                            <h6>Graphic Design Services</h6>
                            <ul>
                                <li><a href="#">Graphic Design</a></li>
                                <li><a href="#">Video & Motion Graphics</a></li>
                                <li><a href="#">Social Media Design</a></li>
                                <li><a href="#">Visual Identity Design</a></li>
                            </ul>
                        </div>
                        <div class="sub__menu">
                            <h6>Social Media Services</h6>
                            <ul>
                                <li><a href="#">Social Media Marketing</a></li>
                                <li><a href="#">Social Media Strategy</a></li>
                                <li><a href="#">Social Media Training</a></li>
                                <li><a href="#">Social Media Recruiting</a></li>
                                <li><a href="#">Content Creation</a></li>
                                <li><a href="#">Advertising Packages</a></li>
                            </ul>
                        </div>
                        <div class="sub__menu">
                            <h6>Development Services</h6>
                            <ul>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">App Development</a></li>
                                <li><a href="#">Maintenance Services</a></li>
                            </ul>
                        </div>
                        <div class="sub__menu">
                            <h6>Consulting Services</h6>
                            <ul>
                                <li><a href="#">Personal Branding</a></li>
                                <li><a href="#">Corporate Rebranding</a></li>
                            </ul>
                        </div>
                        <div class="sub__menu">
                            <h6>Cinematography</h6>
                            <ul>
                                <li><a href="#">Photography Packages</a></li>
                                <li><a href="#">Videos</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </li>                    
            <li><a href="/ourwork">Our Work</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Careers</a></li>
        </ul>
    </div>
</nav>