<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="global_css.css">
    <title>Designa Media Concept</title>
</head>
<body>
    <div class="header-two">
        <nav class="nav_two">
            <a href="#"><img src="/images/digita-logo.png" alt="Digita Global Logo"></a>
        </nav>
        <div class="header-content-two">
            <h1>We<br>
                Build<br>
            Brands</h1>
            <p>We help to strengthen brand identities.<br>Just like a fingerprint our mark is unique.<br><strong>Go Digita. Go Global</strong></p>
        </div>
        <div class="stat-cards-two">
            <div class="stat-card-two">
                <span class="statistic">146,791,482+</span>
                <p>Campaign Reach</p>
            </div>
            <div class="stat-card-two">
                <span class="statistic">82+</span>
                <p>Projects Completed</p>
            </div>
            <div class="stat-card-two">
                <span class="statistic">42+</span>
                <p>Happy Clients</p>
            </div>
        </div>  
    </div>
</body>
</html>